html,
body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  font-family: Roboto, Arial;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/* roboto-100 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  src: url("fonts/roboto-v20-latin_cyrillic-100.eot"); /* IE9 Compat Modes */
  src: local("Roboto Thin"), local("Roboto-Thin"),
    url("fonts/roboto-v20-latin_cyrillic-100.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("fonts/roboto-v20-latin_cyrillic-100.woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("fonts/roboto-v20-latin_cyrillic-100.woff")
      format("woff"),
    /* Modern Browsers */ url("fonts/roboto-v20-latin_cyrillic-100.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("fonts/roboto-v20-latin_cyrillic-100.svg#Roboto")
      format(".visit-card__svg-background"); /* Legacy iOS */
}
/* roboto-300 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: url("fonts/roboto-v20-latin_cyrillic-300.eot"); /* IE9 Compat Modes */
  src: local("Roboto Light"), local("Roboto-Light"),
    url("fonts/roboto-v20-latin_cyrillic-300.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("fonts/roboto-v20-latin_cyrillic-300.woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("fonts/roboto-v20-latin_cyrillic-300.woff")
      format("woff"),
    /* Modern Browsers */ url("fonts/roboto-v20-latin_cyrillic-300.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("fonts/roboto-v20-latin_cyrillic-300.svg#Roboto")
      format(".visit-card__svg-background"); /* Legacy iOS */
}
/* roboto-300italic - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 300;
  src: url("fonts/roboto-v20-latin_cyrillic-300italic.eot"); /* IE9 Compat Modes */
  src: local("Roboto Light Italic"), local("Roboto-LightItalic"),
    url("fonts/roboto-v20-latin_cyrillic-300italic.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("fonts/roboto-v20-latin_cyrillic-300italic.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("fonts/roboto-v20-latin_cyrillic-300italic.woff") format("woff"),
    /* Modern Browsers */ url("fonts/roboto-v20-latin_cyrillic-300italic.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("fonts/roboto-v20-latin_cyrillic-300italic.svg#Roboto")
      format(".visit-card__svg-background"); /* Legacy iOS */
}
/* roboto-100italic - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 100;
  src: url("fonts/roboto-v20-latin_cyrillic-100italic.eot"); /* IE9 Compat Modes */
  src: local("Roboto Thin Italic"), local("Roboto-ThinItalic"),
    url("fonts/roboto-v20-latin_cyrillic-100italic.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("fonts/roboto-v20-latin_cyrillic-100italic.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("fonts/roboto-v20-latin_cyrillic-100italic.woff") format("woff"),
    /* Modern Browsers */ url("fonts/roboto-v20-latin_cyrillic-100italic.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("fonts/roboto-v20-latin_cyrillic-100italic.svg#Roboto")
      format(".visit-card__svg-background"); /* Legacy iOS */
}
/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/roboto-v20-latin_cyrillic-regular.eot"); /* IE9 Compat Modes */
  src: local("Roboto"), local("Roboto-Regular"),
    url("fonts/roboto-v20-latin_cyrillic-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("fonts/roboto-v20-latin_cyrillic-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("fonts/roboto-v20-latin_cyrillic-regular.woff") format("woff"),
    /* Modern Browsers */ url("fonts/roboto-v20-latin_cyrillic-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("fonts/roboto-v20-latin_cyrillic-regular.svg#Roboto")
      format(".visit-card__svg-background"); /* Legacy iOS */
}
/* roboto-italic - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 400;
  src: url("fonts/roboto-v20-latin_cyrillic-italic.eot"); /* IE9 Compat Modes */
  src: local("Roboto Italic"), local("Roboto-Italic"),
    url("fonts/roboto-v20-latin_cyrillic-italic.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("fonts/roboto-v20-latin_cyrillic-italic.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("fonts/roboto-v20-latin_cyrillic-italic.woff") format("woff"),
    /* Modern Browsers */ url("fonts/roboto-v20-latin_cyrillic-italic.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("fonts/roboto-v20-latin_cyrillic-italic.svg#Roboto")
      format(".visit-card__svg-background"); /* Legacy iOS */
}
/* roboto-500 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("fonts/roboto-v20-latin_cyrillic-500.eot"); /* IE9 Compat Modes */
  src: local("Roboto Medium"), local("Roboto-Medium"),
    url("fonts/roboto-v20-latin_cyrillic-500.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("fonts/roboto-v20-latin_cyrillic-500.woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("fonts/roboto-v20-latin_cyrillic-500.woff")
      format("woff"),
    /* Modern Browsers */ url("fonts/roboto-v20-latin_cyrillic-500.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("fonts/roboto-v20-latin_cyrillic-500.svg#Roboto")
      format(".visit-card__svg-background"); /* Legacy iOS */
}
/* roboto-700 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/roboto-v20-latin_cyrillic-700.eot"); /* IE9 Compat Modes */
  src: local("Roboto Bold"), local("Roboto-Bold"),
    url("fonts/roboto-v20-latin_cyrillic-700.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("fonts/roboto-v20-latin_cyrillic-700.woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("fonts/roboto-v20-latin_cyrillic-700.woff")
      format("woff"),
    /* Modern Browsers */ url("fonts/roboto-v20-latin_cyrillic-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("fonts/roboto-v20-latin_cyrillic-700.svg#Roboto")
      format(".visit-card__svg-background"); /* Legacy iOS */
}
/* roboto-700italic - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 700;
  src: url("fonts/roboto-v20-latin_cyrillic-700italic.eot"); /* IE9 Compat Modes */
  src: local("Roboto Bold Italic"), local("Roboto-BoldItalic"),
    url("fonts/roboto-v20-latin_cyrillic-700italic.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("fonts/roboto-v20-latin_cyrillic-700italic.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("fonts/roboto-v20-latin_cyrillic-700italic.woff") format("woff"),
    /* Modern Browsers */ url("fonts/roboto-v20-latin_cyrillic-700italic.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("fonts/roboto-v20-latin_cyrillic-700italic.svg#Roboto")
      format(".visit-card__svg-background"); /* Legacy iOS */
}
/* roboto-900 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url("fonts/roboto-v20-latin_cyrillic-900.eot"); /* IE9 Compat Modes */
  src: local("Roboto Black"), local("Roboto-Black"),
    url("fonts/roboto-v20-latin_cyrillic-900.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("fonts/roboto-v20-latin_cyrillic-900.woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("fonts/roboto-v20-latin_cyrillic-900.woff")
      format("woff"),
    /* Modern Browsers */ url("fonts/roboto-v20-latin_cyrillic-900.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("fonts/roboto-v20-latin_cyrillic-900.svg#Roboto")
      format(".visit-card__svg-background"); /* Legacy iOS */
}

* {
  box-sizing: border-box;
}

button {
	border: none;
}

.scroll-lock {
  position: fixed;
  overflow: hidden;
  width: 100%;
}

.form__input {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
  flex-wrap: wrap;
}

.popup-container {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-image: url(img/bg.png);
  z-index: 10;
}

.popup {
  width: 410px;
  height: fit-content;
  background-color: white;
  padding: 40px;
  margin: 10% auto 0 auto;
  text-align: center;
}

.popup span {
  text-align: center;
  font-size: 22px;
}

.popup input {
  border-color: #f82370;
  padding: 5px;
  margin-top: 10px;
  font-size: 25px;
}

.send {
  border: 2px solid #f82370;
  color: #f82370;
  cursor: pointer;
}

.my-name {
  font-size: 80px;
  margin-bottom: 30px;
  font-family: Roboto Black;
}

h2 {
  font-size: 45px;
  color: white;
  line-height: 1.4;
}

h3 {
  color: white;
  font-size: 18px;
  line-height: 1.7;
  font-weight: 200;
  text-indent: -13px;
  padding-left: 13px;
}

h4 {
  font-size: 54px;
  text-align: center;
  margin-top: 90px;
  margin-bottom: 90px;
}

.ver2 {
	margin-top: 93px;
}

h5 {
  font-size: 25px;
  color: #8993ad;
  font-weight: 400;
}

.fixed-container {
  max-width: 1250px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 40px;
}

.header {
  height: 80px;
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
  margin-top: 15px;
}

.header__phone-number {
  width: 210px;
  height: 26px;
  font-size: 25px;
  padding-top: 5px;
  font-weight: 600;
}

.header__phone-number a,
footer__phone-mail a {
  text-decoration: none;
  color: black;
}

.header__phone-call {
  height: 26px;
  width: 26px;
  margin-left: 20px;
  display: none;
}

.header__nav {
  height: 26px;
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
}

.header__nav-ul {
  list-style: none;
  padding: 0;
  margin-top: 5px;
  font-size: 16px;
  width: 280px;
  display: flex;
  justify-content: space-between;
}

.header__nav-ul a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.header__nav-ul a:hover {
  color: #fc557c;
  text-decoration: underline;
}

.header__nav-ul li {
  display: inline-block;
}

.header__burger {
  display: none;
}

.header__burger span {
  display: block;
  height: 6px;
  width: 45px;
  background-color: #fc557c;
}

.header__burger span:nth-child(2) {
  margin: 6px 0;
}

.header__x {
  margin-top: 10px;
}

.header__x span {
  display: block;
  height: 2px;
  width: 29px;
  background-color: #fc557c;
}

.header__x span:nth-child(1) {
  transform: rotate(45deg);
  transform-origin: center;
}

.header__x span:nth-child(2) {
  transform: rotate(-45deg);
  margin: -2px 0;
  transform-origin: center;
}

.mob-list {
  display: none;
  list-style-type: none;
  line-height: 1.9;
  margin-top: 0;
  padding-left: 20px;
}

.mob-list a {
  text-decoration: none;
  color: #8993ad;
}

.mob-list a:hover {
  color: #fc557c;
  text-decoration: underline;
}

.header__call-request {
  height: 45px;
  width: 208px;
  border: 2px solid #f82370;
  color: #f82370;
  text-align: center;
  margin-left: 30px;
  cursor: pointer;
  font-size: 16px;
  background-color: white;
}

.footer__call-request {
	height: 45px;
	width: 208px;
	border: 2px solid #f82370;
	color: #f82370;
	text-align: center;
	cursor: pointer;
	font-size: 16px;
	background-color: white;
  }

.header__make-a-call {
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
}

.visit-card {
  height: 665px;
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.visit-card__name-occupation {
  z-index: 1;
}

.name-occupation-320 {
  display: none;
  height: 173px;
}

.visit-card__symbol_1 {
  position: absolute;
  font-size: 49px;
  font-weight: 700;
  top: -17px;
  left: -208px;
  transform: rotate(25deg);
  background: linear-gradient(to top, #ff8b5d, #ff2f96);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 3s;
}

.visit-card__symbol_2 {
  position: absolute;
  left: 450px;
  top: 30px;
  font-size: 30px;
  transform: rotate(-15deg);
  font-weight: 600;
  background: linear-gradient(to top, #ff8b5d, #ff2f96);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 3s;
}

.visit-card__symbol_3 {
  position: absolute;
  left: -90px;
  top: 200px;
  font-size: 57px;
  transform: rotate(15deg);
  font-weight: 600;
  background: linear-gradient(to top, #ff8b5d, #ff2f96);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 3s;
}

.visit-card__symbol_4 {
  position: absolute;
  left: 620px;
  bottom: 145px;
  font-size: 38px;
  transform: rotate(20deg);
  font-weight: 600;
  background: linear-gradient(to top, #ff8b5d, #ff2f96);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 3s;
}

.visit-card__symbol_5 {
  position: absolute;
  left: 40px;
  bottom: 11px;
  font-size: 41px;
  transform: rotate(-20deg);
  font-weight: 600;
  background: linear-gradient(to top, #ff8b5d, #ff2f96);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 3s;
}

.visit-card__symbol_6 {
  position: absolute;
  left: 425px;
  top: 85px;
  font-size: 44px;
  transform: rotate(13deg);
  font-weight: 600;
  background: linear-gradient(to top, #ff8b5d, #ff2f96);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 3s;
  display: none;
}

.visit-card__svg-background {
  position: absolute;
}

#anim {
  animation: blob 3s ease-in-out;
  transform-origin: bottom;
}

@keyframes blob {
  from {
    transform: rotateX(50deg);
  }

  to {
    transform: rotateX(0deg);
  }
}

.visit-card__learn-more {
  height: 60px;
  width: 270px;
  background-color: #ff4e2e;
  color: white;
  text-align: center;
  font-size: 19px;
  cursor: pointer;
  margin-top: 5px;
}

.name-occupation-320__learn-more_320 {
  height: 55px;
  width: 90%;
  background-color: #ff4e2e;
  color: white;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}

#dude,
#dude320 {
  position: absolute;
  bottom: 0;
  height: 95%;
}

.visit-card__picture {
  width: 350px;
}

.visit-card__name-occupation .my-name {
  margin-top: 185px;
  margin-bottom: 0;
}

.visit-card__name-occupation h5 {
  margin-top: 10px;
}

.visit-card__picture_320 {
  width: 250px;
  height: 338px;
  object-fit: contain;
  display: none;
  margin-left: 23px;
  margin-top: 50px;
}

.price {
  background: linear-gradient(to top right, #ff8b5d, #ff2f96);
  position: relative;
}

.price__symbol_1 {
  position: absolute;
  left: 175px;
  top: 10px;
  font-size: 50px;
  transform: rotate(24deg);
  font-weight: 600;
  color: white;
}

.price__symbol_2 {
  position: absolute;
  left: 300px;
  bottom: 7px;
  font-size: 50px;
  transform: rotate(17deg);
  font-weight: 600;
  color: white;
}

.price__symbol_3 {
  position: absolute;
  right: 260px;
  top: 35px;
  font-size: 40px;
  transform: rotate(-20deg);
  font-weight: 600;
  color: white;
}

.price__symbol_4 {
  position: absolute;
  right: 160px;
  bottom: 0px;
  font-size: 50px;
  transform: rotate(-15deg);
  font-weight: 600;
  color: white;
}

.price__symbol_5 {
  position: absolute;
  right: 470px;
  bottom: -17px;
  font-size: 35px;
  transform: rotate(17deg);
  font-weight: 600;
  color: white;
}

.price__text {
  padding-left: 150px;
  padding-top: 35px;
  padding-bottom: 65px;
}

.price__text h2 {
  margin-bottom: 25px;
}

.price__notice-laptop {
  margin-top: 0px;
  max-width: 800px;
}

.what-i-do {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.what-i-do__thing_1,
.what-i-do__thing_2,
.what-i-do__thing_3,
.what-i-do__thing_4 {
  width: 275px;
  height: 190px;
  margin: 0;
  font-size: 20px;
  color: #8993ad;
  text-align: center;
}

.what-i-do img {
  margin-bottom: 15px;
}

.learn-price-container {
	display: flex;
	justify-content: center;
}

.learn-price {
  height: 63px;
  width: 270px;
  background-color: #ff4e2e;
  color: white;
  text-align: center;
  font-size: 19px;
  cursor: pointer;
  margin-top: 50px;
  margin-bottom: 101px;
}

.swiper-container {
  overflow: hidden;
  width: 1230px;
  height: 370px;
  margin: 100px auto 0 auto;
  padding: 0 29px;
}

.swiper-container-horizontal .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0px 10px;
}

.swiper-slide {
  font-size: 20px;
  color: #8993ad;
  text-align: center;
}

.swiper-slide img {
  width: 100%;
  margin-bottom: 30px;
}

.swiper-button-prev::after {
  display: none;
}

.swiper-button-next::after {
  display: none;
}

.swiper-button-prev {
  background: radial-gradient(51% 51%, #000000, transparent);
  width: 70px;
  height: 70px;
  top: 140px;
  left: -2px;
  position: absolute;
}

.swiper-button-next {
  background: radial-gradient(51% 51%, #000000, transparent);
  width: 70px;
  height: 70px;
  top: 140px;
  right: 0;
  position: absolute;
}

.order-project-container {
	display: flex;
	justify-content: center;
}

.order-project {
  height: 65px;
  width: 270px;
  background-color: #ff4e2e;
  color: white;
  text-align: center;
  font-size: 19px;
  cursor: pointer;
  margin-top: 70px;
  margin-bottom: 100px;
}

.footer__white-bar {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 76px;
}

.footer__nav-ul a {
  text-decoration: none;
  color: #8993ad;
  font-size: 18px;
}

.footer__address {
  margin-left: 40px;
}

.footer__contacts {
  width: 270px;
  height: 125px;
}

.footer__nav-ul {
  list-style-type: none;
  line-height: 1.9;
  margin-top: 0;
}

.footer__phone-mail li {
  font-size: 25px;
  font-weight: 400;
  font-family: Roboto;
  line-height: 2.2;
}
.footer__phone-mail a {
	text-decoration: none;
	color: black;
}

.footer__phone-mail {
  list-style-type: none;
  margin: 0 0 0 130px;
}

i {
  background: linear-gradient(to top, #ff8b5d, #ff2f96);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer__call-request {
  margin-bottom: 15px;
  width: 248px;
}

.footer__social-ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 200px;
  padding-left: 0;
}

.footer__social-ul li {
  display: inline-block;
}

#vk {
  width: 34px;
  height: 33px;
  background-image: url(img/sprite.png);
  background-repeat: no-repeat;
  background-position: -44px -5px;
  cursor: pointer;
}

#fb {
  width: 34px;
  height: 33px;
  background-image: url(img/sprite.png);
  background-repeat: no-repeat;
  background-position: -84px -5px;
  cursor: pointer;
}

#tw {
  width: 34px;
  height: 33px;
  background-image: url(img/sprite.png);
  background-repeat: no-repeat;
  background-position: -124px -5px;
  cursor: pointer;
}

#insta {
  width: 34px;
  height: 33px;
  background-image: url(img/sprite.png);
  background-repeat: no-repeat;
  background-position: -201px -5px;
  cursor: pointer;
}

.footer__copyrights {
  height: 80px;
  margin-top: 59px;
  text-align: center;
  padding-top: 32px;
  background-color: #31293c;
  color: white;
}

.footer__nav-ul,
.footer__phone-mail {
  padding-left: 0;
}

.price__notice-mob {
  display: none;
}

.swiper-pagination-bullet-active {
  background-color: #ff4e2e;
}

.swiper-pagination-bullet {
  padding: 8px;
  margin: 0 10px;
}

.swiper-pagination {
  display: none;
}

@media (max-width: 1636px) {
  .price__symbol_2 {
    display: none;
  }

  .price__symbol_1 {
    left: 275px;
    top: -20px;
    font-size: 50px;
  }
}

@media (max-width: 1411px) {
  .price__symbol_3 {
    display: none;
  }
}

@media (max-width: 1350px) {
  .visit-card__picture {
    width: 441px;
  }

  .visit-card {
    height: 660px;
  }

  h5 {
    font-size: 25px;
  }

  h2 {
    font-size: 40px;
  }

  .price__text {
    padding-left: 40px;
    padding-top: 30px;
  }

  .visit-card__svg-background {
    width: 1500px;
    height: 660px;
  }

  .swiper-container {
    width: 945px;
    padding: 0;
    height: 520px;
  }

  .swiper-slide img {
    margin-bottom: 25px;
  }

  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }

  .swiper-pagination {
    display: block;
  }

  .order-project {
    margin-top: 100px;
    width: 320px;
  }

  .learn-price {
    max-width: 320px;
  }
}

@media (max-width: 1180px) {
  .what-i-do {
    max-width: 859px;
  }
}

@media (max-width: 1024px) {

  .header__x span {
    height: 6px;
    width: 47px;
  }

  .header__x span:nth-child(2) {
    margin: -6px 0;
  }

  .mob-list {
    padding-left: 40px;
    font-size: 23px;
  }

  .visit-card__svg-background {
    width: 1400px;
    height: 660px;
  }
  .visit-card__name-occupation .my-name {
    font-size: 54px;
    margin-top: 210px;
  }

  .visit-card__name-occupation h5 {
    margin-top: 20px;
  }

  .visit-card__learn-more {
    width: 320px;
    height: 65px;
  }

  .visit-card {
    height: 660px;
  }

  .header__nav-ul {
    display: none;
  }

  .header__burger {
    display: block;
  }

  h5 {
    font-size: 24px;
  }

  .visit-card__symbol_1 {
    left: 80px;
    top: 0;
  }

  .visit-card__symbol_2 {
    left: 890px;
    top: 15px;
  }

  .visit-card__symbol_3 {
    left: 60px;
    top: 470px;
  }

  .visit-card__symbol_4 {
    left: 850px;
    bottom: 180px;
  }

  .visit-card__symbol_5 {
    left: 360px;
    bottom: 90px;
  }

  .visit-card__symbol_6 {
    display: block;
  }

  .what-i-do {
    max-width: 859px;
    justify-content: space-around;
  }

  .what-i-do__thing_1,
  .what-i-do__thing_2,
  .what-i-do__thing_3,
  .what-i-do__thing_4 {
    height: 230px;
  }

  .learn-price {
    margin-top: 13px;
    height: 70px;
    width: 320px;
  }

  .swiper-slide {
    font-size: 25px;
  }

  .swiper-slide img {
    margin-bottom: 15px;
  }

  .swiper-container {
    height: 540px;
  }

  .swiper-pagination-bullet {
    padding: 9px;
  }

  .order-project {
    margin-top: 88px;
    width: 320px;
  }

  .price__text {
    padding-left: 40px;
    padding-top: 40px;
  }

  .price__symbol_1 {
    left: 155px;
    top: -15px;
    font-size: 35px;
  }

  .price__symbol_3 {
    right: 94px;
    top: 247px;
    display: block;
  }

  .price__symbol_4 {
    display: none;
  }

  .price__symbol_5 {
    right: 447px;
    bottom: -1px;
    font-size: 29px;
  }

  .price__text h2 {
    font-size: 44px;
  }

  .footer__phone-mail {
    list-style-type: none;
    margin: 0;
  }

  .footer__contacts {
    padding-left: 20px;
  }

  .footer__white-bar {
    padding-top: 100px;
  }
}

@media (max-width: 952px) {
  .swiper-container {
    width: 400px;
    height: 470px;
  }

  .footer__white-bar {
    height: auto;
  }
}

@media (max-width: 890px) {
  .visit-card__svg-background {
    left: -474px;
  }
}

@media (max-width: 683px) {
  .footer__address {
    margin-left: 0;
  }
}

@media (max-width: 640px) {
  .visit-card {
    justify-content: center;
  }

  .visit-card__name-occupation {
    display: none;
  }

  .price__notice-laptop {
    display: none;
  }

  .price__notice-mob {
    display: inline-block;
  }

  .footer__white-bar {
    height: 452px;
  }

  .footer__copyrights {
    height: 50px;
    padding-top: 20px;
    font-size: 12px;
  }

  .name-occupation-320 {
    display: block;
    text-align: center;
  }

  .name-occupation-320 .my-name {
    font-size: 30px;
    margin-bottom: 0;
  }

  .name-occupation-320 h5 {
    font-size: 16px;
    margin-top: 15px;
  }

  .swiper-container {
    width: 400px;
    height: 470px;
  }

  .order-project {
    margin-top: 50px;
    width: 280px;
  }

  h4 {
    font-size: 30px;
    padding: 0 20px;
    margin-top: 40px;
    margin-bottom: 41px;
  }

  .footer__contacts {
    margin-top: 0;
  }

  @media (max-width: 680px) {
    .footer__address {
      margin-left: 0;
      margin-top: 15px;
    }

    .footer__call-request {
      display: block;
      width: 100%;
      background-color: #ff4e2e;
      border: none;
      color: white;
      font-weight: 300;
    }

    .footer__call-request {
      margin-bottom: 50px;
      margin-top: 0;
      width: 100%;
      height: 56px;
    }

    .footer__address {
      margin-bottom: 0;
      height: 72px;
    }

    .footer__phone-mail {
      height: 69px;
    }

    .footer-nav {
      margin-bottom: 0;
      height: 94px;
    }

    .footer__contacts {
      padding-left: 0;
    }

    .footer__nav-ul a {
      font-size: 15px;
    }

    .footer__phone-mail li {
      font-size: 19px;
      color: #8993ad;
    }

    .footer__contacts {
      margin-left: auto;
      margin-right: auto;
	}
	
	.footer__copyrights {
		margin-top: 0;
	  }
  }

  @media (max-width: 600px) {
    .what-i-do {
      justify-content: center;
    }
  }

  @media (max-width: 530px) {
    .header__burger span {
      height: 2px;
      width: 23px;
    }

    .header__x span:nth-child(2) {
      transform: rotate(-45deg);
      margin: -2px 0;
      transform-origin: center;
    }

    .header__x span {
      display: block;
      height: 2px;
      width: 29px;
    }

    .mob-list {
      padding-left: 20px;
      font-size: 16px;
    }

    .header__phone-number {
      width: 176px;
      height: 26px;
      font-size: 19px;
      padding-top: 2px;
      font-weight: 600;
    }

    .header__burger {
      height: 25px;
      width: 26px;
      padding-top: 3px;
    }

    .header__call-request {
      display: none;
    }

    .header__phone-call {
      display: block;
    }

    .name-occupation-320 .my-name {
      font-size: 30px;
      margin-bottom: 0;
      margin-top: 10px;
    }

    .what-i-do {
      margin-top: 41px;
    }

    .what-i-do img {
      width: 22%;
    }

    .what-i-do__thing_1,
    .what-i-do__thing_2,
    .what-i-do__thing_3,
    .what-i-do__thing_4 {
      height: 169px;
    }

    .swiper-container {
      margin-top: 67px;
    }

    .swiper-pagination-bullet {
      padding: 5px;
    }

    .swiper-slide {
      font-size: 17px;
    }

    .order-project {
	  margin-top: 40px;
	  margin-bottom: 50px;
      width: 85%;
	  height: 53px;
	  font-size: 16px;
    }

    .learn-price {
	  margin-top: 8px;
	  margin-bottom: 95px;
      height: 52px;
	  width: 85%;
	  font-size: 16px;
    }

    .price__symbol_1,
    .price__symbol_2,
    .price__symbol_3,
    .price__symbol_4,
    .price__symbol_5 {
      display: none;
    }

    .price__text h2 {
      font-size: 26px;
      line-height: 1.5;
    }

    h3 {
      font-size: 13px;
      padding-left: 9px;
      text-indent: -9px;
      line-height: 2.4;
    }

    .price__text {
      padding-left: 20px;
    }

    .price {
      padding-top: 20px;
      padding-bottom: 20px;
    }

    .fixed-container {
      padding: 0 20px;
    }

    .footer__address {
      margin-left: 0;
      margin-top: 15px;
    }

    .footer__call-request {
      display: block;
      width: 100%;
      background-color: #ff4e2e;
      border: none;
      color: white;
      font-weight: 300;
    }

    .footer__call-request {
      margin-bottom: 50px;
      margin-top: 0;
      width: 100%;
      height: 56px;
    }

    .footer__address {
      margin-bottom: 0;
      height: 72px;
    }

    .footer__phone-mail {
      height: 69px;
    }

    .footer-nav {
      margin-bottom: 0;
      margin-top: 6px;
      height: 94px;
    }

    .footer__contacts {
      padding-left: 0;
    }

    .footer__nav-ul a {
      font-size: 15px;
    }

    .footer__phone-mail li {
      font-size: 19px;
      color: #8993ad;
    }

    .footer__contacts {
      margin-left: auto;
      margin-right: auto;
    }

    .visit-card__picture_320 {
      display: block;
    }

    .visit-card__picture {
      display: none;
    }

    .visit-card__svg-background {
      width: 1000px;
      height: 324px;
      left: -406px;
      bottom: 0;
    }

    .visit-card {
      height: 379px;
    }

    .visit-card__symbol_1 {
      font-size: 25px;
      left: 48px;
      top: -14px;
    }

    .visit-card__symbol_2 {
      font-size: 15px;
      left: 246px;
      top: 42px;
      transform: rotate(25deg);
    }

    .visit-card__symbol_5 {
      font-size: 19px;
      left: 173px;
      bottom: 350px;
    }

    .visit-card__symbol_3 {
      font-size: 29px;
      top: 84px;
      left: 36px;
    }

    .swiper-container {
      width: 280px;
      height: 329px;
    }

    .footer__contacts {
      width: 100%;
      margin-bottom: 0;
    }
  }

  @media (max-width: 450px) {
	.popup {
    width: 280px;
    padding: 20px;
  }
  
  .popup input,
  .popup span {
    font-size: 16px;
  }

  @media (max-width: 390px) {
    .footer-nav {
      margin-top: 46px;
    }

    .footer__nav-ul {
      margin-bottom: 0;
    }
  }
}}
